:root {
  --branding-color: #6c63ff;
  --primary-color: #f9f7fe;
}
p {
  font-family: "Poppins", sans-serif;
}
i {
  color: var(--branding-color);
  background: rgba(108, 99, 255, 0.2);
  border-radius: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
}
.navigation-bar {
  padding: 50px 120px 0 !important;
}
.navbar-items {
  flex-direction: row-reverse;
}
.hero {
  background-color: var(--primary-color);
  text-align: center;
  padding: 160px 20px;
}

.hero p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
  color: #272142;
}

.hero h1 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 128px;
}
.hero h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #272142;
}
.hero a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  padding: 18px 30px;
  background: var(--branding-color);
  border-radius: 4px;
}
.projects {
  margin: 60px auto !important;
  max-width: 1400px;
}
.projects h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 85px;
}
.projects-header {
  color: #272142;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}
.description {
  padding: 120px;
}
@media (max-width: 1100px) {
  .description {
    padding: 30px;
    text-align: center;
  }
  .work-inquiry {
    text-align: center;
  }
  .work-inquiry-description {
    justify-content: space-around;
  }
  .works h1 {
    font-size: 40px !important;
    text-align: center;
  }
}
@media (max-width: 700px) {
  .hero h1 {
    font-size: 50px;
  }
  .projects h2 {
    font-size: 44px;
  }
  .hero {
    padding: 80px 20px;
  }

  .work-inquiry h2 {
    font-size: 44px;
  }

  .work-inquiry p {
    font-size: 14px;
    padding: 5px;
  }
  .contact-button {
    margin-top: 5px !important;
  }
  .navigation-bar {
    padding: 10px 0 !important;
  }
  .about-me h1 {
    font-size: 50px;
  }
  .about-me h2 {
    font-size: 44px;
  }
}

.projects-description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(39, 33, 66, 0.7);
}
.projects a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--branding-color);
  border: 1px solid var(--branding-color);
  padding: 15px 30px;
}

.work-inquiry {
  background-color: var(--primary-color);
  max-width: 1400px;
}
.work-inquiry-description {
  display: flex !important;
  flex-basis: auto !important;
  flex-direction: row-reverse;
}
.work-inquiry h2 {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
}
.work-inquiry p {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(39, 33, 66, 0.7);
}
.work-inquiry a {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  padding: 18px 30px;
  background: var(--branding-color);
  border-radius: 4px;
  margin: 48px 0;
}
.contact-button {
  margin: 0;
}
.email {
  font-family: "Poppins";
  font-size: 24px;
  line-height: 36px;
}
.facebook {
  padding: 11px 14px;
}
.twitter {
  padding: 11px;
}
.instagram {
  padding: 11px 12px;
}
.nahid-norouzi {
  border-radius: 15px;
}
.about-me h1 {
  font-family: "Playfair Display";
  font-size: 64px;
  line-height: 85px;
  margin-bottom: 30px;
}
.about-me h2 {
  font-family: "Poppins";
  font-size: 18px;
  line-height: 27px;
  color: #272142;
  margin-bottom: 30px;
}
.about-me p {
  font-family: "Poppins";
  font-size: 16px;
  line-height: 30px;
  color: rgba(39, 33, 66, 0.7);
  margin-bottom: 30px;
}
.about-me a {
  display: inline-block;
  font-family: "Poppins";
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  padding: 18px 30px;
  background: var(--branding-color);
  border-radius: 4px;
  text-decoration: none;
}
.works h1 {
  font-family: "Playfair Display";
  font-size: 64px;
}
.works h2 {
  font-family: "Poppins";

  font-size: 24px;
  line-height: 36px;
  text-align: center;
}
.works p {
  font-family: "Poppins";
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: rgba(39, 33, 66, 0.7);
}
